.color1 {
  width: 20px;
  background: #73e873;
}
.color2 {
  width: 20px;
  background: #d26506;
}
.color3 {
  width: 20px;
  background: #ff6cae;
}
.color4 {
  width: 20px;
  background: #ffb48e;
}
.color5 {
  width: 20px;
  background: #ffff90;
}
.Bhai{
    display: flex;
    flex-direction: row;    
    cursor: pointer;
    border: 1px solid black
}